.banner-container{
    /* background-color: #BFC9CA; */
    margin: 2% 0;
    width: 100%;
    /* height: 350px; */
    
}
/*ENROLL BUTTON*/
.banner-container .enroll-btn{
    margin: 2% 0;
}
.banner-container .enroll-btn .btn-block{
    width: 100%;
}

/*HEADER BUTTON*/
.banner-container .header-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-container .header-btn .dynamic-btn{
   margin: 0 1%;
}


/*WHAT YOU WILL LEARN*/
.what-you-will-learn-main-container{
    margin: 2% 0;
}
.what-you-will-learn-main-container .what-you-will-learn-content{
    display: flex;
}

.what-you-will-learn-main-container .what-you-will-learn-content ul {
    list-style: none;
}

.what-you-will-learn-main-container .what-you-will-learn-content ul li:before{
    content: "✓";
    font-size: 22px;
}




/*THREE SECTION*/
.three-section-main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2% 0;
    
}

.three-section-main-container .three-section-content{
    display: flex;
    flex: row;
    align-items: center;
    margin: 5% 0;
}
.three-section-main-container .three-section-content:hover{
    transition: all 0.2s ease-in-out;
    margin-left: 3%;
}




.three-section-main-container .three-section-content .three-section-cta{
    margin: 0 5%;
}

.three-section-main-container .three-section-container a{
    text-decoration: none;
    color: black;
}