*{
    font-family: 'Calibri';
  }
  
  .el-form-item__label {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: bold;
  }

  .el-input__inner { 
      background-color: #d7e2ed !important;
      border-width: .1em;
      border-color: #7f7f7f;
      border-radius: 7px;
  }

  .el-textarea__inner { 
      background-color: #d7e2ed !important;
      border-width: .1em;
      border-color: #7f7f7f;
      border-radius: 7px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

  .el-input__inner::placeholder{
      color: #7f7f7f;  
  }

  .el-textarea__inner::placeholder{
      color: #7f7f7f;  
  }

  .el-step__title{
  font-size: 14px;
  line-height: 38px;
  }


  /* signup stepper: Hannah */
  @media screen and (max-width: 415px){ 
    .el-step__title{
    font-size: 11px;
    line-height: 38px;
    }

    .el-form-item--label-top .el-form-item__label {
      width: auto!important;
      float: none;
      display: inline-block;
      text-align: left;
    }

    .el-form-item--label-top .el-form-item__content {
      margin-left: 0!important;
    }
  }
  /* signup stepper: Hannah */

  .el-breadcrumb__inner.is-link, .el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__separator{
    font-weight: normal;
    text-decoration: none;
    color: #2d4059;
    font-size: 20px;
  }

  .el-tabs__item{
    font-size: 20px;
    color: #2d4059;
  }

  .el-tabs__item.is-active {
    color: #2d4059;
    font-weight: 550;
}


.el-table{
  color: #7f7f7f;
  font-size: 14px;
}



/* sidebar */
.el-submenu__title {
  font-weight: bold;
  color: #7f7f7f;
}

.el-submenu__icon-arrow {
  font-weight: bold;
  color: #7f7f7f;
}

.el-menu {
  border: none;
}
.el-submenu__title:focus, .el-submenu__title:hover {
  outline: 0;
  background: #0f5298;
  color: #fff;
}
.el-submenu .el-menu {
  background-color: #d7e2ed;
}
.el-menu-item {
  color: #0f5298;
}
.active span {
  color: #fff;
}
.active i{
  color: #fff;
}
.active{
  background-color: #0f5298;
}
.active_1 {
  font-weight: bold;
}
.el-menu-item:focus, .el-menu-item:hover {
  outline: 0;background-color: #d7e2ed;
  color: #0f5298;
  font-weight: bold;
}
.el-menu-item.is-active {
  color: #0f5298;
}
/* sidebar */

.el-pager li{
  font-size: 14px;
  color: #2d4059;
}

.el-pager li.active {
  color: #2d4059;
  text-decoration: underline;
}

.el-form--label-top .el-form-item__label {
  padding: 0px;
}

.el-tabs__active-bar {
  background: #2d4059;
}


[class^=el-icon-] {
  font-weight: bold;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color:#0F5298;
  color: #FFF;
}