h3{
    font-weight: bold;
    color: #2d4059
}

.back-button{
    border: 1px #0f5298 solid;
    color: #0f5298;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    float: right;
    margin: 30px 0px 0px 0px;
}

.classcode-btn{
    border: 1.5px #0f5298 solid;
    color: #0f5298;
    font-size: 14px;
    font-weight: bold;
    width: 75px;
}

.classcode-btn:hover{
    background: #0f5298;
    color: #fff;
}

.classcode-headline{
    font-weight: bold;
    color: #2d4059;
    margin: 0;
    padding: 0;
}

.add-classcode-btn{
    color: #fff;
    background: #0f5298;
    font-size: 14px;
    font-weight: bold;
}

.add-classcode-btn:hover, .add-btn:hover{
    background-color: #0d55a1;
}

.add-btn {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #0f5298;

}

.filter-btn{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #0f5298;
    margin-left: 1.5em;
}

.el-icon-plus{
    font-weight: bold;
}

.save-button{
    background: #0f5298;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    float: right;
    margin: 30px 0 0 15px;
}

.save-button:hover{
    background-color: #0d55a1;
}

.sub-title{
    font-weight: bold;
    color: #2d4059;
    margin-top: 15px;
}

.submission-link{
    font-size: 28px;
    color: #2d4059;
    font-weight: bold;
}

.submission-text{
    color: #2d4059;
    font-size: 14px;
}

p{
    font-size: 14px;
    color: #7f7f7f;
    text-align: justify; 
}

.classname-title{
    text-align: center;
    font-weight: bold;
    color: #2d4059;
}

.classname-subtitle{
    text-align: center;
    font-weight: bold;
    color: #2d4059;
    font-size: 14px;
}

.class-code{
    color: #2d4059;
    text-align: center;
    margin-bottom: 15px;
}

.class-btn-view{
    font-size: 14px;
    border: 1.5px #0f5298 solid;
    color: #0f5298;
    font-weight: bold;
}

.class-btn-view:hover{
    background: #0f5298;
    color: #fff;
}

.class-btn-edit{
    font-size: 14px;
    font-weight: bold;
    
}

.class-total{
    font-size: 25px;
    font-weight: bold;
    color: #2d4059;
    background: #d7e2ed;
}

.classn-name-allclass{
    color: #2d4059;
    font-size: 14px;
}

.pagination {
    float: right;
}

.class_code{
    color: #2d4059;
    font-size: 20px;
}

.return-btn{
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #0f5298;
}

.return-btn:hover{
    background-color: #0d55a1;
}

.student-action-btn{
    font-size: 14px;
    border: 1.5px #0f5298 solid;
    color: #0f5298;
    font-weight: bold;
}

.student-action-btn:hover{
    background: #0f5298;
    color: #fff;
}

@media screen and (max-width: 1025px) {
    /* all class */
    .allclass-column1{
        min-width: 20%;
    }
    .allclass-column2{
        max-width: 60%;
    }
    .allclass-column3{
        max-width: 20%;
    }
    /* all class */
}



@media screen and (max-width: 769px){ 
    /* add class */
    .save-button{
        margin-right: -50px;
    }
    /* add class */

    /* all class*/
    .allclass-column1{
        min-width: 100%;
    }
    .allclass-column2{
        margin-top: 10px;
        min-width: 80%;
    }
    .allclass-column3{
        min-width: 20%;
        margin-top: 10px;
    }

    .allclass-content-column{
        min-width: 50%;
        margin-top: 10px;
    }
    .class-btn-view{
        width: 45%;
    }
    /* all class*/
    
}

@media screen and (max-width: 415px){
    /* add class */
    .add-class-row{
        display: grid;
    }
    /* add class */

    /* all class*/
    .allclass-column1{
        min-width: 100%;
    }
    .allclass-column2{
        min-width: 100%;
    }
    .allclass-column3{
        min-width: 100%;
    }
    .filter-btn{
        margin-left: 20px;
        width: 100%;
    }
    .add-btn{
        width: 100%;
    }
    .allclass-content-stats{
        max-width: 30%;
    }
    .classn-name-allclass, .classname-subtitle{
        font-size: 12px;
    }
    .pagination{
        margin: 0px;
    }
    /* all class*/
}
  