.headcontainer{
    margin-left: 20px; 
    margin-top:20px; 
    padding: 10px
}

#locationmap{
    width: 100%;
    height: 100%;
}

#column2{
    background-color: #D7E2ED;
}
#texthead{
    color: #2D4059;
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 1.8vw;

}
#textsub{
    color: #2D4059;
    margin-bottom: 10px;
    font-size: 1.171875vw;
}

#icons{
    color: #2D4059;
    margin-bottom: 20px;
    font-size: 1.171875vw;
    font-weight: bolder;
    margin-right: 12px;
}

#telephone{
    font-size: 1.171875vw; 
    margin-right: 14px;
    font-weight: bolder;
}