.h3_text_teacher{
    color: #2d4059; 
    font-size: 25px; 
    font-weight: 600;
    /* line-height: 1.6rem; */
}
.p_text_teacher{
    /* line-height: 1.6rem; */
    color: #7f7f7f; 
    font-size: 14px;
}
.btncreatestudent{
    color: #fff;
    background: #0F5298;
    border-color: #0F5298;
    font-weight: bold;
}
.btncreatestudent:hover{
    background-color: #0d55a1;
}
.text_right{
    text-align: right;
}
.btnfloat{
    float: right;
}
.content3_img{
    width: 100%; height: auto;
}

@media screen and (max-width: 768px) {
    .col-md-8{
        width: 90%;
    }
    .content3_img{
        width: 100%; height: auto;
    }
}

@media screen and (max-width: 415px){
    .flexdirec{
        flex-direction: column-reverse;
    }
    .text_right{
        text-align: center;
    }
    .btnfloat{
        float: none;
    }
    .btncenter{
        display: flex;
        justify-content: center;
    }
}