.main-div{
    width: 90%;
    margin:auto;
}

.sub-div{
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
}


#row1 h3{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
}
#row1 p{
    color: #7f7f7f;
    font-size: 14px;
    text-align: center;
}

#row2 span{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size:  15px;
    margin-bottom: 10px;
}
#row2 p{
    color: #7f7f7f;;
    text-align: justify;
    font-size: 14px;
}

#row2 img{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
    font-weight: bold;
}

#learnmorebtn:hover{
    background-color: #0d55a1;
}

.el-carousel__item:nth-child(2n) {
background-color: #fff;
}

.el-carousel__item:nth-child(2n+1) {
background-color: #fff;
}

.carouselDisplay{
display: block;
}
.cardDisplay{
display: block;
}

.carouselDisplay2{
    display: block; 
}

@media screen and (max-width: 1920px){
.carouselDisplay{
    display: none;
}

.carouselDisplay2{
    display: none;
}
}
    

@media screen and (max-width: 1367px){
.carouselDisplay{
    display: none;
}

.carouselDisplay2{
    display: none;
}
}

@media screen and (max-width: 1024px){ 
#learnmorebtn{
    font-size: 13px;   
}

#BusinessManagement span{
    text-align: center;
}

#ComputerProgramming span{
    text-align: center;
}

.carouselDisplay{
    display: none;
}

.carouselDisplay2{
    display: none;
}
}

@media screen and (max-width: 768px) { 
.carouselCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carouselDisplay{
    display: block;
    z-index: 1;
}

.cardDisplay{
    display: none;
}

.carouselDisplay2{
    display: none;
}

#row2 p{
    color: #7f7f7f;
    font-size: 14px;
}

#row2 img{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 414px) { 

.carouselDisplay{
    display: none;
}

.cardDisplay{
    display: none;
}

.carouselDisplay2{
    display: block;
    z-index: 1;
}

.carouselCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
