.h3_text{
    color: #2d4059; 
    font-size: 25px; 
    font-weight: 600;
    /* line-height: 1.6rem; */
}
.p_text{
    /* line-height: 1.6rem; */
    color: #7f7f7f; 
    font-size: 14px
}
.btncreatestudent{
    color: #fff;
    background: #0F5298;
    border-color: #0F5298;
    font-weight: bold;
}
.btncreatestudent:hover{
    background-color: #0d55a1;
}
.content2_img{
    width: 100%; height: auto;
}
@media screen and (max-width: 768px) {
    .col-md-8{
        min-width: 90%;
    }
    .content2_img{
        width: 100%; height: auto;
    }
}

@media screen and (max-width: 415px) {
    .center-all{
        text-align: center;
    }
}