.main-div{
    width: 90%;
    margin:auto;
}

.sub-div{
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
}


#row1 h3{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.953125vw;
}
#row1 p{
    color: #2D4059;
    font-size: 1.171875vw;
}

.main-div span{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size:  1.015625vw;
    margin-bottom: 10px;
}
.main-div p{
    color: #2D4059;
    text-align: justify;
    font-size: 1.171875vw;
}

.sub-div img{
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
    border-radius: .4375rem;
    font-size: 1.171875vw;
}


@media screen and (max-width: 1024px){ 

#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
    border-radius: 7px;
    font-size: 10px;
}
}

@media screen and (max-width: 800px) { 

.sub-div img{
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
    border-radius: 7px;
    padding: 10px 15px;
}
}

@media screen and (max-width: 640px) { 
#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 7px;
}
}