.main-div{
    width: 90%;
    margin:auto;
}

.sub-div{
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
}


#row1 h3{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
}
#row1 p{
    color: #7f7f7f;
    font-size: 14px;
    text-align: center;
}

#row2 span{
    color: #2D4059;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size:  13px;
    margin-bottom: 10px;
}
#row2 p{
    color: #7f7f7f;;
    text-align: justify;
    font-size: 14px;
}

#row2 img{
    margin-bottom: 10px;
}

#learnmorebtn{
    background: #0F5298;
    color: #f0f0f0;
}

#learnmorebtn:hover{
    background-color: #0d55a1;
}


@media screen and (max-width: 1024px){ 
#learnmorebtn{
    font-size: 13px;   
}

#BusinessManagement span{
    text-align: center;
}

#ComputerProgramming span{
    text-align: center;
}
}

@media screen and (max-width: 768px) { 

  
#OSHA{
    margin-top: 20px;
    width: 200px;
}

#HRServices{
    margin-top: 20px;
    width: 200px
}

#DataAnalysis{
    margin-top: 20px;
    width: 200px
}
#BusinessManagement{
    margin-top: 20px;
    width: 200px;
    margin-left: 40%;
}

#ComputerProgramming{
    margin-top: 20px;
    width: 200px;
}
}

@media screen and (max-width: 414px) { 

#OSHA{
    width: 100%;
}

#HRServices{
    width: 100%;
}

#DataAnalysis{
    width: 100%;
}
#BusinessManagement{
    width: 100%;
    margin-left: auto;
}

#ComputerProgramming{
    width: 100%;
}
}
