   
.main-footer{
    background-color: #2D4059 ;
    padding-top: 20px;
    padding-bottom: 10px
}

#firstcolumn{
    margin-right: 5%; 
}
#FooterLogo{
    height: 50px;
}
#parag{
    margin-top: 10px;
    color:#f0f0f0;
    font-size: 14px;
}
.list-unstyled a, #fbicon, #location{
    color:#f0f0f0;
    text-decoration: none;
    line-height: 180%;
    font-size: 14px;
}

#yticon{
    margin-right: 5px;
    width: 7%;
    height: auto;
}

#location a{
    color: #f0f0f0;
    text-decoration: none;
}

.list-unstyled a:hover{
    text-decoration: underline;
    line-height: 180%;
}

.sub-footer{
    background-color: #628395;
    padding: 10px;
    color:#f0f0f0;  
    font-size: 12px;
}

.sub-footer-link{
    cursor: pointer;
}

.sub-footer-link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1025px) { 
.sub-footer-link-column1{
    width: 70%;
}
.sub-footer-link-column2{
    width: 30%;
}
}

@media screen and (max-width: 769px) { 
.flex-direc {
    flex-direction: column-reverse;
} 

.sub-footer-link-column1, .sub-footer-link-column2{
    width: 100%;
    text-align: center;
}
}



@media screen and (max-width: 415px) { 

.text-align{
    display: grid;
    text-align: center;
}

.textdivider{
    display: none;
}

.social-media-link a{
    margin-left: -2%;
}

#yticon{
    margin: 0 4% 0 5%;
    width: 20px;
    height: auto;
}

.social-media-link li{
    display: inline;
}
}