h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #2D4059;
}

#teachbtn{
    width: 100%;
    margin-bottom: 20px;
    background: #0F5298;
    color: #FFF;
    border-radius: 4px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 14px;
}

#studbtn{
    width: 100%;
    margin-bottom: 20px;
    background: #0F5298;
    color: #FFF;
    border-radius: 4px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 14px;

}

#textbottom{
    margin-top: 20px;
    display: flex;
    justify-content: center ;
    color: #7F7F7F ;
    font-size: 14px;
}

#textbottom a{
    margin-left: 5px;
    color: #7F7F7F ;
    text-decoration: none;
    font-weight: bold;
}

#textbottom a:hover{
    text-decoration: underline;
}
